.play-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
}

.video-section {
  flex: 3;
}

.recommended-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Responsive styles */
@media (max-width: 900px) {
  .play-container {
    padding-left: 5%;
    padding-right: 5%;
    /* flex-direction: column; */
  }

  /* .video-section {
    width: 100%;
  }

  .recommended-section {
    width: 100%;
    margin-top: 20px;
  } */
}
